        @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Ubuntu Mono", monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url('picture.jpg') no-repeat center center fixed;
            background-size: cover;
            text-align: center;
        }

        .container {
            background: rgba(127, 126, 126, 0.436);
            backdrop-filter: blur(10px);
            padding: 4rem;
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 600px;
            transition: all 0.3s ease;
        }

        h1 {
            font-size: 20rem;
            color: #2f61a8;
            margin-bottom: 1rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        p {
            font-size: 2.5rem;
            color: #4873b0;

            margin-bottom: 1rem;
        }

        .sub-text {
            font-size: 1.2rem;
            color: #273e51ce;

            margin-bottom: 2rem;
            opacity: 0.8;
        }

        .btn {
            display: inline-block;
            padding: 0.8rem 1.5rem;
            background-color: rgba(37, 37, 37, 0.738);
            color: #ffffff;
            text-decoration: none;
            border-radius: 15px;
            transition: all 0.3s ease;
            border: none solid rgba(255, 255, 255, 0.3);
        }

        .btn:hover {
            background-color: rgb(0, 104, 145);
            box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
        }

        footer {
            position: absolute;
            bottom: 1rem;
            width: 100%;
            text-align: center;
            font-size: 0.9rem;
            opacity: 0.7;
        }

        @media (max-width: 768px) {
            .container {
                width: 95%;
                padding: 1.5rem;
            }

            h1 {
                font-size: 6rem;
            }

            p {
                font-size: 1rem;
            }

            .sub-text {
                font-size: 0.8rem;
            }
        }

        @media (max-width: 480px) {
            .container {
                width: 100%;
                padding: 1rem;
            }

            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 0.9rem;
            }

            .sub-text {
                font-size: 0.7rem;
            }

            .btn {
                padding: 0.6rem 1.2rem;
                font-size: 0.9rem;
            }
        }
